suds-py3;python_version>="3.0"
suds;python_version<"3.0"
git+https://github.com/candlepin/subscription-manager#egg=subscription_manager
git+https://github.com/candlepin/python-iniparse#egg=iniparse;python_version>="3.0"
iniparse;python_version<"3.0"
requests>=2.0
m2crypto;python_version<"3.0"
six
cryptography
PyYAML