[Unit]
Description=Daemon for reporting virtual guest IDs to subscription-manager
After=libvirtd.service network.target

[Service]
Type=notify
PIDFile=/var/run/virt-who.pid
ExecStart=/usr/bin/virt-who
EnvironmentFile=-/etc/sysconfig/virt-who
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
